main {
    /* Activa CSS Grid en el contenedor <main> */
    display: grid;
    
    /* Definir 2 columnas de igual tamaño (1fr = fracción del espacio disponible) */
    grid-template-columns: repeat(2, 1fr);
    
    /* Definir 1 fila de igual tamaño */
    grid-template-rows: repeat(1, 1fr);
    
    grid-column-gap: 16px; /* Separación entre columnas */
    grid-row-gap: 16px;    /* Separación entre filas */
}

/* grid-area: row-start / column-start / row-end / column-end; */
main > #mensaje { grid-area: 1 / 1 / 2 / 3; }

main > #search { grid-area: 2 / 1 / 2 / 3; }

main > #libros { grid-area: 3 / 1 / 3 / 2; }

main > #libros-agregados { grid-area: 3 / 2 / 3 / 3; }

.search {
    box-shadow: 0px 0px 10px 0px #939393;
}

.libro-card {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: grab;
}

.lista-libros {
    min-height: 200px;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #939393;
}