html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fafafa;
}

main {
    flex: 1;
    padding: 8px;
}

footer {
    padding: 32px;
    background-color: rgb(39, 39, 39);
    color: #fafafa;
}

footer > div {
    display: flex;
    flex-direction: column;
}

footer > div > a {
   color: #fafafa;
}